@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #21222b;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  color: white;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}

header h1::before,
header h1::after {
  content: "";
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #ff6e40;
  position: absolute;
  top: 20px;
}

header h1::before {
  left: -30px;
}

header h1::after {
  right: -30px;
}

/* Options section */
.options {
  width: 520px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.options .option {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  background-color: #272833;
  padding: 1rem;
}

.options .option:hover {
  transform: scale(1.1);
  background-color: #323441;
}

img {
  width: 120px;
}

/* Footer */
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
}

footer a {
  color: #ff6e40;
}
